* {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  margin-top: 10px;
}
.cal {
  background-color: rgba(255, 255, 255, 0.075);
  width: 49vw;
  border: 5px solid rgba(224, 217, 217, 0.192);
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 20px 30px rgba(150, 145, 145, 0.993);
}
.txt {
  margin: 1vw;
  height: 20vh;
  width: 47.5vw;
  font-size: 2rem;
  opacity: 0.6;
}
.btn {
  height: 10vh;
  width: 7vw;
  margin:0.7vw 0.5vw;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 1px 2px rgb(170, 162, 162);
  color: rgba(20, 8, 8, 0.795);
}
#equal {
  background-color: rgb(82, 202, 218);
  color: #000;
}
.btn:hover,
#clr:hover,
#equal:hover {
  transform: scale(0.9);
}
#clr {
  background-color: rgb(228, 11, 11);
  color: #000;
}
.sym{
  background-color: rgb(228, 234, 238);
}
